.idea/
CMakeLists.txt
cmake-build-debug/CMakeFiles/
cmake-build-debug/*.exe
cmake-build-debug/Makefile
cmake-build-debug/testiginteengine.cbp
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake